span.dropdown_label {
    color: black;
}

div.dropdown_header {
    margin-top: 10px;
}

.dropdown_li__multi-value__label{
    white-space: pre-wrap !important;
}

span.dropdown_counter{
    margin-left: 4px;
    margin-right: 4px;
    height: 18px;
    width: 24px;
    min-width: 24px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #dfdfdf;
    background-color: #017cad;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

span.dropdown_counter_3{
    width: 36px !important;
}

span.dropdown_counter_4{
    width: 48px !important;
}

span.dropdown_select_all{
    float: right;
    margin-right: 4px;
    height: 18px;
    width: 30px;
    min-width: 24px;
    border-radius: 3px;
    border: 1px solid #dfdfdf;
    background-color: #6ebe4a;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

[class*="dropdown_li__indicators"]{
    max-width: 0px;
    background-color: transparent !important;
    overflow-x: hidden;
}
[class*="dropdown_li__indicator"]{
    cursor: pointer !important;
}

[class*="dropdown_li__multi-value__remove"]{
    cursor: pointer !important;
}

.dropdown_li__option{
    text-overflow: auto;
    white-space: pre-wrap;
    overflow: hidden;
    border-bottom: 1px solid rgb(191,191,191) !important;
    cursor: pointer !important;
    border-radius: 0px !important;
}

.dropdown_li__menu-list{
    border: 1px solid rgb(191,191,191) !important
}

.dropdown_width{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}


.searchBar{
    padding-top: 7px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #dfdfdf;
}
.searchButton_container {
    text-align: center;
    position: relative;
    width: 30px;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.non-quarter {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.dropdown_li__control--is-focused{
    max-height: 200px !important;
    position: absolute;
}

.dropdown_li__control{
    max-height: 38px;
    overflow-y: auto;
}
@media ( min-width: 1280px){
    .dropdown_width{
        flex: 0 0 19%;
        max-width: 19%; 
    }
    
    .searchButton_container{
        margin-top: 24px;
        flex: 0 0 5%;
        max-width: 0 0 5%;
    }
}


html, body{
    overflow-y: auto !important;
}

.dropdown_search {
    font-size: 0.9em;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
    padding: 0 10px;
    align-content: flex-end;
}
