@import '../../styles/variables.scss';

.side-nav {
  background: #fbfbfb;
  box-shadow:$svdna-card-shadow;
  position: absolute;
  height: 100%;
  transition: width $sidenav-transition-delay $sidenav-transition-duration;
  transition: min-width $sidenav-transition-delay $sidenav-transition-duration;
  overflow: hidden;
  &.is-collapsed {
    width: $sidenav-width-collapsed;
    min-width: $sidenav-width-collapsed;
  }
  &.is-expanded {
    min-width: $sidenav-width-expanded;
  }
}
.farm-bar-item {
  display: flex;
  align-items: center;
  height: 45px;
  cursor: pointer;
  &.is-slctd {
    background: $svdna-menu-selected;
    color: $svdna-accent-clr-primary;
    font-size: 1.25em;
   
  }
}
.farm-bar-label {
  font-size: 1.2em;
  white-space: nowrap;
}
.farm-bar-item:hover {
  background: $svdna-menu-selected;
}
.farm-bar-slctn {
  height: inherit;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  transition: border-right 0.2s, border-left 0.2s;
  &.is-slctd {
    border-right: 3px solid $svdna-accent-clr-primary;
    border-left: 3px solid $svdna-accent-clr-primary;
  }
}

.farm-bar-icon {
  margin: 0px 15px 0 10px;
  width: 25px;
  height: 25px;
  min-width: 25px;
}
.svsummary-icon-cls{
  font-size: 25px;
  color: black;
}
.icon-dna-cls {
  background: url(../../../dm/ckt/mut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-mc-cls {
  background: url(../../../dm/ckt/cyto.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-mn-cls {
  background: url(../../../dm/ckt/nuc.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-mr-cls {
  background: url(../../../dm/ckt/ribo.svg);
  background-repeat: no-repeat;
  background-position: center;
}